* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;

}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.costumSelect {

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.costumSelect .selectedLi {
  width: 300px;
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3640;
  color: #f5f6fa;
  cursor: pointer;
  border-radius: 5px;
}

.costumSelect ul::-webkit-scrollbar-thumb {
  background-color: #525861;
  border-radius: 5px;
}

.costumSelect ul::-webkit-scrollbar {
  width: 5px;
  background-color: #0d141f;
  border-radius: 5px;
}

.costumSelect .list-container {
  width: 320px;
  background-color: #2f3640;
  color: #f5f6fa;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40px;

}

.costumSelect .list-container li {
  padding: 10px 15px;
  cursor: pointer;
}

.costumSelect .list-container li:hover {
  background-color: #414b57;
  border-radius: 5px;

}

.slide-enter-active,
.slide-leave-active {
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.slide-enter-from,
.slide-leave-to {
  max-height: 0;
}

.slide-enter-to,
.slide-leave-from {
  max-height: 320px;
}

.container .selected-list {
  margin-top: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 10px;
}

.container .selected-list li {
  background-color: #2f3640;
  color: #f5f6fa;
  padding: 8px 12px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.selected-list li:hover {
  background-color: #e2ecf5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #2f3640;
}
